@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 1px solid black;
  font-family: 'Anek Latin', sans-serif;
}

body {
  background-color: #e0e7ff;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  grid-column: 2;
  display: grid;
  grid-template-rows: 3fr 4fr;
}

.header .upper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search {
  padding: 25px 50px;
  display: grid;
  align-items: center;
}

.search form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

.search img {
  height: 30px;
}

.search input {
  font-size: 1.25rem;
}

.user-info {
  padding: 25px 50px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 1fr;
  gap: 15px;
}

.user-info img {
  height: 30px;
}

.user-info p {
  font-size: 1.25rem;
  font-weight: bold;
}

.header .lower {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.actions {
  padding: 35px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.greetings {
  padding: 0 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}

.greetings img {
  height: 60px;
  justify-self: end;
}

.greetings div {
  justify-self: start;
}

.sidebar {
  background-color: #6366f1;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 6fr 3fr 6fr;
}

.logo {
  padding: 25px 15px;
  display: grid;
}

.logo button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
}

.logo p {
  font-size: 1.5rem;
  font-weight: bold;
  justify-self: start;
}

.sidebar .upper {
  padding: 25px 15px;
  display: grid;
  grid-template-rows: repeat(6, min(1fr, 40px));
  gap: 10px;
}

.sidebar .upper button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.sidebar .upper img {
  height: 30px;
}

.sidebar .upper p {
  font-size: 1.25rem;
  justify-self: start;
}

.sidebar .lower {
  padding: 25px 15px;
  display: grid;
  grid-template-rows: repeat(4, min(1fr, 40px));
  gap: 10px;
}

.sidebar .lower button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.sidebar .lower img {
  height: 30px;
}

.sidebar .lower p {
  font-size: 1.25rem;
  justify-self: start;
}

.main-content {
  padding: 30px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.projects {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto 1fr;
}

.projects .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.projects .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background-color: #eef2ff;
  display: grid;
  grid-template-columns: 10px 1fr;
}

.card .dash {
  background-color: #312e81;
}

.card .content {
  padding: 30px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: auto 1fr auto;
}

.content .text {
  grid-column: 1 / 3;
}

.content .subject {
  font-size: 1.1rem;
  font-weight: bold;
}

.content .buttons {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.content button img {
  height: 30px;
}

.trending {
  display: grid;
  grid-template-rows: auto 1fr;
}

.trending p {
  font-size: 1.25rem;
  font-weight: bold;
}

.users {
  background-color: #eef2ff;
  padding: 30px;
  display: grid;
  align-content: space-between;
}

.users button {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 25px;
  justify-items: start;
  align-items: center;
}

.users button img {
  height: 50px;
  grid-row: 1 / 3;
}

.users button p {
  font-size: 1rem;
}

.announcements {
  display: grid;
  grid-template-rows: auto 1fr;
}

.announcements .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.announcements .outer {
  background-color: #eef2ff;
  padding: 30px;
  display: grid;
  grid-template-rows: 1fr;
  align-content: center;
}

.announcements .contents {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.item {
  padding: 7px 0;
  display: grid;
  align-content: center;
  grid-template-rows: auto 1fr;
  border-bottom: 1px solid black;
}

.item:first-child {
  padding-top: 0;
  align-self: end;
}

.item:last-child {
  align-self: start;
  padding-bottom: 0;
  border-bottom: none;
}

.item button {
  justify-self: start;
  align-self: end;
  font-size: 1rem;
  font-weight: bold;
}

.item > p {
  font-size: .9rem;
  align-self: start;
}

button {
  display: grid;
  place-content: center;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
}
