@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid black; */
  font-family: 'Anek Latin', sans-serif;
  --color-1: #eef2ff;
  --color-2: #e0e7ff;
  --color-3: #c7d2fe;
  --color-4: #a5b4fc;
  --color-5: #818cf8;
  --color-6: #6366f1;
  --color-7: #4f46e5;
  --color-8: #4338ca;
  --color-9: #3730a3;
  --color-10: #312e81;
  --shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

button {
  display: grid;
  place-content: center;
}

a {
  text-decoration: none;
  display: grid;
  place-content: center;
}

body {
  background-color: var(--color-3);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5.5fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: var(--color-1);
  grid-column: 2;
  display: grid;
  grid-template-rows: 3fr 4fr;
  box-shadow: var(--shadow);
}

.header .upper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search {
  padding: 25px 50px;
  display: grid;
  align-items: center;
}

.search form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

.search img {
  height: 40px;
}

.search button {
  padding: 3px;
  border: none;
  background: none;
  border-radius: 8px;
  cursor: pointer;
}

.search button:hover {
  background-color: var(--color-2);
}

.search input {
  padding: 0 10px;
  font-size: 1.25rem;
  background-color: var(--color-3);
  border: none;
  border-radius: 8px;
}

.user-info {
  padding: 15px 50px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  gap: 20px;
}

.user-info button {
  padding: 10px;
  background: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 10px;
}

.user-info button:first-child {
  height: 60px;
  grid-template-columns: auto;
}

.user-info button:hover {
  background-color: var(--color-2);
}

.user-info img {
  height: 40px;
}

.user-info p {
  font-size: 1.3rem;
  font-weight: 500;
}

.header .lower {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.actions {
  padding: 35px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.actions button {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: var(--color-7);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.actions button:hover {
  background-color: var(--color-6);
  box-shadow: var(--shadow);
}

.greetings {
  font-weight: 600;
  padding: 0 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}

.greetings img {
  height: 70px;
  justify-self: end;
}

.greetings div {
  justify-self: start;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar {
  padding: 30px;
  background-color: var(--color-8);
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 6fr 3fr 6fr;
  gap: 30px;
  justify-content: center;
}

.sidebar a:not(.no-hover):hover {
  background-color: var(--color-7);
  border-radius: 8px;
}

.sidebar img[src*=".svg"] {
  filter: invert(99%) sepia(66%) saturate(0%) hue-rotate(81deg) brightness(112%) contrast(100%);
}

.sidebar p {
  color: white;
  font-weight: bold;
}

.logo {
  display: grid;
}

.logo a {
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
}

.logo p {
  font-size: 2rem;
  font-weight: bold;
  justify-self: start;
}

.sidebar .upper {
  display: grid;
  grid-template-rows: repeat(6, min(1fr, 40px));
  gap: 10px;
}

.sidebar .upper a {
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.sidebar .upper img {
  height: 30px;
}

.sidebar .upper p {
  font-size: 1.25rem;
  justify-self: start;
}

.sidebar .lower {
  display: grid;
  grid-template-rows: repeat(4, min(1fr, 40px));
  gap: 10px;
}

.sidebar .lower a {
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.sidebar .lower img {
  height: 30px;
}

.sidebar .lower p {
  font-size: 1.25rem;
  justify-self: start;
}

.main-content {
  padding: 30px;
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.projects {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto 1fr;
}

.projects .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.projects .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background-color: var(--color-1);
  display: grid;
  grid-template-columns: 10px 1fr;
  box-shadow: var(--shadow);
  border-radius: 8px;
  overflow: hidden;
}

.card .dash {
  background-color: var(--color-10);
}

.card .content {
  padding: 30px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: auto 1fr auto;
}

.content .text {
  grid-column: 1 / 3;
}

.content .subject {
  font-size: 1.1rem;
  font-weight: bold;
}

.content .buttons {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.content button {
  border-radius: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.content button:hover {
  background-color: var(--color-2)
}

.content button img {
  height: 40px;
}

.trending {
  display: grid;
  grid-template-rows: auto 1fr;
}

.trending > p {
  font-size: 1.25rem;
  font-weight: bold;
}

.users {
  background-color: var(--color-1);
  padding: 30px;
  display: grid;
  align-content: space-between;
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.users a {
  grid-template-columns: auto 1fr;
  column-gap: 25px;
  justify-items: start;
  align-items: center;
}

.users a img {
  height: 50px;
  grid-row: 1 / 3;
}

.users a .handle {
  font-weight: 500;
}

.users a p {
  font-size: 1rem;
  color: black;
}

.users a p:last-child {
  color: var(--color-6);
}

.announcements {
  display: grid;
  grid-template-rows: auto 1fr;
}

.announcements .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.announcements .outer {
  background-color: var(--color-1);
  padding: 30px;
  display: grid;
  grid-template-rows: 1fr;
  align-content: center;
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.announcements .contents {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.item {
  padding: 7px 0;
  display: grid;
  align-content: center;
  grid-template-rows: auto 1fr;
  border-bottom: 1px solid black;
}

.item:first-child {
  padding-top: 0;
  align-self: end;
}

.item:last-child {
  align-self: start;
  padding-bottom: 0;
  border-bottom: none;
}

.item a {
  color: black;
  justify-self: start;
  align-self: end;
  font-size: 1.1rem;
  font-weight: bold;
}

.item > p {
  font-size: .9rem;
  align-self: start;
}
